/* All */
*{
    font-family: 'Fredoka One', cursive;
}
body{
    background: #fff;
}

/* Header */

header{
    text-align: center;
}
button > a{
    text-decoration: none;
    color: black;
}
button{
    width: 10rem;
    height: 2rem;
    border: none;
    border-radius: 0.2rem;
    background: #de434db2;
}

/* Hover header */

button:hover{
    background: #DE434E;
}

/* Section */

#wek_s{
    margin-top: 3rem;
    margin-left: 15%;
}
section{
    margin: auto;
    position: relative;
    top: 5rem;
    border-radius: 0.8rem;
    width: 16rem;
    height: 15rem;
    background: #DE434E;
}
div{
    position: relative;
    margin-top: 2rem;
    text-align: center;
}